.noteItem {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  padding: 1rem 2rem;
  gap: 1rem;
  width: 100%;
  border-radius: 1rem;
  animation: noteItemShowUp 0.5s;
}

.noteItem .main {
  display: flex;
  justify-content: space-between;
}

.noteItem .main .createdAt {
  font-style: italic;
}

.noteItem .main .actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.noteItem .main .actions button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--accent);
}

@keyframes noteItemShowUp {
  from {
    transform: translateY(100%);
    opacity: 0;
    position: relative;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    position: static;
  }
}
