@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

:root {
  --primary: #e3fdfd;
  --secondary: #a6e3e9;
  --accent: #71c9ce;
}

html,
body,
#root {
  height: 100vh;
  background-color: var(--primary);
}

#root {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--secondary);
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.25s;
  font-weight: bold;
}

button:hover {
  background-color: var(--accent);
}

input,
textarea {
  border-radius: 1rem;
  padding: 1rem;
}
